body {
    background-color: darkgrey;
}

.heading {
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}

p {
color: red;
font-weight: bold;
}

ul {
    margin: 10%;
}

/* li {
background-color: blueviolet;
}

.list-item--white {
    background-color: blanchedalmond;
} */

li:nth-of-type(2n) {
    background-color: antiquewhite;
  }
  
  li:nth-of-type(2n - 1) {
    background-color: blueviolet;
  }
